body {
  background-color: rgb(93, 93, 211);
  font-family: 'Montserrat', sans-serif;
}

.main-title {
  font-size: 200%;
  font-weight: bold;
  color: rgb(224, 224, 224);;
  background-color: rgb(65, 65, 65);
  width: auto;
  text-align: center;
  padding: 40px 0px;
}

.small-logo {
  float: left;
  margin-top: -27px;
  margin-left: 15px;
  padding: 0px;
}

.top-header {
  background-color: rgb(80, 74, 48);
  background-image: url(../img/seattle.jfif);
  background-blend-mode: multiply;
  background-size: cover;
  width: 100%;
  height: 450px;
  background-attachment: fixed;
  background-position: 0 -120px;
  background-repeat: no-repeat;
}

.fish-title {
  font-size: 260%;
  font-weight: bold;
  margin-bottom: 15px;
  color: aliceblue;
  text-shadow: 1px 1px rgb(49, 46, 46);
}

.link {
  font-weight: bold;
  display: block;
  font-size: 150%;
  padding-top: 35px;
}

.main-page-content, .main-page-content2 {
  width: 100%;
  height: 90px;
  background-color:#A54631;
  text-align: center;
  padding-top: 50px;
}

.main-page-content2 {
  height: 130px;
  background-image: url()
}

.center-logo {
  text-align: center;
  padding-top: 100px;
  opacity: 0;
  animation-name: title-in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes title-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
  0% {padding-top: 60px;}
  100% {padding-top: 100px;}
}

.table-container {
  overflow-x: auto;
}

table {
  margin: 20px;
  border: 10px solid rgb(54, 51, 51);
  background-color: aliceblue;
  box-shadow: -1px 7px 14px -2px rgba(0, 0, 0, 0.3);
}

.location-form {
  padding: 20px;
}

th, .column1 {
  padding: 20px;
  border: 1px solid rgb(54, 51, 51);
  background-color: rgb(201, 135, 59);
}

tr, td {
  padding: 20px;
  background-color: aliceblue;
  border: 1px dotted rgb(54, 51, 51);
}

th:hover, tr:hover {
  background-color: rgb(255, 234, 166);
}

.footer {
  width: 100%;
  height: 100px;
  background-color: rgb(39, 39, 39);
  text-align: center;
  color: whitesmoke;
}

footer {
  padding-top: 30px;
  font-size: 110%;
}
